/*----graveyard--page---*/
.graveyard .ex-line {
  border-bottom: none; }
  .graveyard .ex-line a {
    color: #ccc; }
  .graveyard .ex-line h4 {
    color: #fff; }
.graveyard .ex-tab ul {
  justify-content: left; }
  .graveyard .ex-tab ul li button {
    color: #ccc; }
  @media (max-width: 992px) {
    .graveyard .ex-tab ul {
      justify-content: center; } }
.graveyard .ex-tab a.single-back {
  display: flex; }
.graveyard .ex-tab img {
  background: #0f99ff;
  padding: 0.5em;
  border-radius: 50%; }
.graveyard .im-box {
  background-color: #DEDEDE;
  border-radius: 50% 50% 0 0;
  margin: 0 auto 1em;
  height: 245px !important;
  justify-content: center;
  display: flex;
  align-items: center; }
  .graveyard .im-box .bot-line-div {
    background: #dedede;
    width: 100%;
    height: 35px;
    border-radius: 15px; }
.graveyard .grave {
  width: 220px;
  margin-right: 1.5em;
  margin-bottom: 2em; }
  .graveyard .grave a {
    border: 2px solid #F6C258;
    width: 100%;
    display: block;
    text-align: center;
    padding: 0.5em;
    color: #F6C258;
    font-size: 1.2em;
    border-radius: 15px;
    margin-top: 0.9em;
    font-weight: 600; }
    .graveyard .grave a:hover {
      border: 2px solid #F6C258;
      color: #000;
      background: #F6C258; }
.graveyard .grave-boxes {
  flex-wrap: wrap; }
  .graveyard .grave-boxes .ned-boxes {
    border: 1px solid #414141;
    border-radius: 18px;
    padding-bottom: 1pc;
    min-width: 15pc; }
  .graveyard .grave-boxes .grave-chat-ri {
    padding-left: 2pc; }
    @media (max-width: 1080px) {
      .graveyard .grave-boxes .grave-chat-ri {
        padding-left: 4pc; } }
    @media (max-width: 992px) {
      .graveyard .grave-boxes .grave-chat-ri {
        padding-left: 6pc; } }
  .graveyard .grave-boxes .ned-box {
    margin-right: 0px;
    position: relative; }
    .graveyard .grave-boxes .ned-box:hover .ned-h-box {
      background: #fff;
      width: calc( 100% - 0px );
      margin-left: 0px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: 0;
      position: absolute;
      border-radius: 18px;
      height: 100%;
      transform: rotateY(0deg);
      left: 0;
      cursor: pointer; }
  .graveyard .grave-boxes .ned-like-full {
    background: transparent;
    margin-top: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #fff;
    border-bottom: 1px solid #414141;
    margin-right: 0px; }
  .graveyard .grave-boxes .sn-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 1em;
    padding: 1pc; }
    .graveyard .grave-boxes .sn-text i {
      color: #0f99ff;
      padding-left: 0.4em;
      font-size: 1.3em;
      padding-top: 0.5em; }
  .graveyard .grave-boxes .V-deck {
    display: flex;
    justify-content: center;
    margin: 0.5em 0; }
    .graveyard .grave-boxes .V-deck a {
      color: #fff;
      font-weight: 600;
      font-size: 1em;
      padding: 6px 24px 6px 24px;
      border: 1px solid #0f99ff;
      border-radius: 5px;
      margin-right: 1pc;
      transition: 0.5s ease-in-out; }
      .graveyard .grave-boxes .V-deck a:hover {
        background: #0f99ff; }
  @media (max-width: 767px) {
    .graveyard .grave-boxes > div {
      width: 100% !important;
      padding-left: 0px !important;
      margin-bottom: 2pc; } }
  @media (max-width: 992px) {
    .graveyard .grave-boxes .gr-box-line {
      justify-content: center; } }
.graveyard .grave-chat-inr {
  background: #1E1E1E;
  padding: 2pc;
  border-top-left-radius: 1pc;
  border-top-right-radius: 1pc;
  margin-bottom: 2pc;
  color: #fff;
  border: 1px solid #414141; }
  .graveyard .grave-chat-inr nav {
    position: relative;
    background: transparent;
    padding: 0;
    width: auto;
    display: flex; }
    .graveyard .grave-chat-inr nav a.nav-item {
      color: #fff;
      font-weight: 400;
      font-size: 1.1em;
      padding: 6px 24px 6px 24px;
      border: 1px solid #0f99ff;
      margin-right: 1pc;
      margin-bottom: 1pc;
      border-radius: 8px;
      transition: 0.5s ease-in-out; }
      .graveyard .grave-chat-inr nav a.nav-item:hover, .graveyard .grave-chat-inr nav a.nav-item.active {
        background: #0f99ff; }
  .graveyard .grave-chat-inr h4 {
    font-size: 2pc;
    margin-bottom: 1pc; }
  .graveyard .grave-chat-inr ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap; }
    .graveyard .grave-chat-inr ul li {
      margin: 1pc 1pc 0pc 0;
      display: flex;
      flex-direction: column;
      padding: 10px 25px 20px;
      background: #ccc;
      border-radius: 8px;
      max-width: 6.5pc; }
      .graveyard .grave-chat-inr ul li img {
        width: 50px;
        margin: 0 auto 0.4pc; }
      .graveyard .grave-chat-inr ul li span {
        text-align: center;
        color: #545353; }
  @media (max-width: 767px) {
    .graveyard .grave-chat-inr {
      border-radius: 1pc; } }

/*# sourceMappingURL=graveyard.css.map */
